


<%- include('partials/header') %>
<div>
    <h1>Home</h1>

    <p><%= startingContent %></p>
   


   <% posts.forEach(element => { %>
   <div>
        <h1><%= element.title %></h1>
        <p><%= element.content %></p>
      </div>
<% }); %>

    
  
</div>


<%- include('partials/footer') %>

